html{
	height:100%;
}


body{
	background-color: black;
	text-align: center;
	height:100%;
	margin: 0px;
	padding: 0;
}

#wrapper{
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#page{
  min-width: 1024px;
  position: absolute;
  left:50%;
  margin-left: -512px;
  z-index: 0;
  width:1024px;
  height:768px;
 }
 
@-webkit-keyframes ghastly {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes ghastly  {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes ghastly  {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.ghost{
    -webkit-animation: ghastly 5s alternate infinite;
    -moz-animation: ghastly 5s alternate infinite;
    -ms-animation: ghastly 5s alternate infinite;
}

.ghost2{
    -webkit-animation: ghastly 6s -5s alternate infinite;
    -moz-animation: ghastly 6s -5s alternate infinite;
    -ms-animation: ghastly 6s -5s alternate infinite;
}

.ghost3{
    -webkit-animation: ghastly 5s -3s alternate infinite;
    -moz-animation: ghastly 5s -3s alternate infinite;
    -ms-animation: ghastly 5s -3s alternate infinite;
}

.ghost4{
    -webkit-animation: ghastly 7s -1.5s alternate infinite;
    -moz-animation: ghastly 7s -1.5s alternate infinite;
    -ms-animation: ghastly 7s -1.5s alternate infinite;
}

.ghost5{
    -webkit-animation: ghastly 5.5s -4.5s alternate infinite;
    -moz-animation: ghastly 5.5s -4.5s alternate infinite;
    -ms-animation: ghastly 5.5s -4.5s alternate infinite;
}

.ghost6{
    -webkit-animation: ghastly 7.5s -4s alternate infinite;
    -moz-animation: ghastly 7.5s -4s alternate infinite;
    -ms-animation: ghastly 7.5s -4s alternate infinite;
}

#name{
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url('../img/name.jpg');
	min-width: 406px;
	left:50%;
	margin-top: 203px;
	margin-left: -397px;
	width: 406px;
	height: 130px;
}

#name a{
	display: block;
	width: 406px;
	height: 130px;
}

#name:hover{
	cursor: pointer;
	background-image: url('../img/name.jpg');
	position: absolute;
	display: block;
	z-index: 3000;
	display: block;
	background-image: none;
	width: 406px;
	height: 130px;
	}
	
#wall{
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url('../img/wall2.jpg');
	min-width: 406px;
	left:50%;
	margin-top: 327px;
	margin-left: -397px;
	width: 406px;
	height: 123px;
}

#wall a{
	display: block;
	width:406px;
	height:123px;
}

#wall:hover{
	cursor: pointer;
	background-image: url('../img/wall2.jpg');
	position: absolute;
	display: block;
	z-index: 3000;
	display: block;
	background-image: none;
	width: 406px;
	height: 123px;
	}
	
#bed{
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url('../img/bed.jpg');
	min-width: 406px;
	left:50%;
	margin-top: 452px;
	margin-left: -397px;
	width: 406px;
	height: 123px;
}

#bed a{
	display: block;
	width: 406px;
	height: 123px;
}

#bed:hover{
	cursor: pointer;
	background-image: url('../img/bed.jpg');
	position: absolute;
	display: block;
	z-index: 3000;
	display: block;
	background-image: none;
	width: 406px;
	height: 123px;
	}

#hotel{
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url('../img/hotel.jpg');
	min-width: 390px;
	left:50%;
	margin-top: 204px;
	margin-left: 30px;
	width: 390px;
	height: 144px;
}

#hotel a{
	display: block;
	width: 390px;
	height: 144px;
}

#hotel:hover{
	cursor: pointer;
	background-image: url('../img/hotel.jpg');
	position: absolute;
	display: block;
	z-index: 3000;
	display: block;
	background-image: none;
	width: 390px;
	height: 144px;
	}
	
#footing{
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url('../img/footing.jpg');
	min-width: 352px;
	left:50%;
	margin-top: 343px;
	margin-left: 55px;
	width: 352px;
	height: 130px;
}

#footing a{
	display: block;
	width: 352px;
	height: 130px;
}

#footing:hover{
	cursor: pointer;
	background-image: url('../img/divide.jpg');
	position: absolute;
	display: block;
	z-index: 3000;
	display: block;
	background-image: none;
	width: 352px;
	height: 130px;
	}

#carrier{
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url('../img/carrier.jpg');
	min-width: 406px;
	left:50%;
	margin-top: 452px;
	margin-left: 30px;
	width: 406px;
	height: 123px;
}

#carrier a{
	display: block;
	width: 406px;
	height: 123px;

}

#carrier:hover{
	cursor: pointer;
	background-image: url('../img/carrier.jpg');
	position: absolute;
	display: block;
	z-index: 3000;
	display: block;
	background-image: none;
	width: 406px;
	height: 123px;
	}
	
#sign{
	position: absolute;
	display: block;
	overflow: hidden;
	background-image: url('../img/guestbook_old.jpg');
	min-width: 181px;
	left:50%;
	margin-top: 75px;
	margin-left: 308px;
	width: 181px;
	height: 128px;
	  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#sign a{
	display: block;
	width: 172px;
	height: 77px;

}

#sign:hover{
	cursor: pointer;
	background-image: url('../img/guestbook_old_hover.jpg');
	position: absolute;
	display: block;
	z-index: 3000;
	display: block;
	width: 181px;
	height: 128px;
	  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
	}
	
#guestbook{
	background-image: url('../img/bg_dark.jpg');
	background-repeat: no-repeat;
	min-width: 1024px;
	position: absolute;
	left:50%;
	margin-left: -512px;
	z-index: 0;
	width:1024px;
	height:768px;
	}

#comments{
	margin-top: 85px;
	margin-left: 22px;
	opacity: .6; 
	padding-right:20px;
	overflow-y: hidden scroll;
	color:white;
	text-align:center;
}

#credits_title{
	margin-top: 120px;
	margin-left: 76px;
	opacity: 1; 
	color:white;
	text-align:center;
	font-family: Roboto, sans-serif;
	letter-spacing: 6px;
}

#credits{
	margin-top: 80px;
	margin-left: 102px;
	width: 900px;
	opacity: 1; 
	padding-right:20px;
	overflow-y: hidden scroll;
	color:white;
	text-align:justify;
	font-family: Roboto, sans-serif;
	letter-spacing: 1px;
}

#credits a{
	color:white;
	opacity: 1;

}

#credits a:hover{
	color: #999;
}

#credit_link a{
	position: absolute;
	margin-left: 390px;
	margin-top: 710px;
	display: block;
	color: white;
	min-width: 150px;
	width: 150px;
	height:150px;
	z-index: 20000;
	left:50%;
}

#credit_link a:hover{
	position: absolute;
	display: block;
	color:#999;
	min-width: 150px;
	width: 150px;
	height:150px;
	z-index: 20000;
	left:50%;
}

.comments{
	margin-top: 68px;
	margin-left: 95px;
	opacity: .6; 
	padding-right:20px;
	overflow-y: hidden scroll;
	color:white;
	text-align:center;
}


a.hcb-flag{
	color:#999;
}

a.hcb-flag:hover{
	color:#fff;
}

a.hcb-like{
	color:#999;
}

a.hcb-like:hover{
	color:#fff;
}

a.hcb-reply{
	color:#999;
}

a.hcb-reply:hover{
	color:#fff;
}

.home-desc{
	display: none;
}

.home-desc a{
	color: #fff !important;
}

#home{
	background-image: url('../img/home_plain.png');
	display: block;
	color:white;
	position: absolute;
	z-index: 4000;
	margin-top: 85px;
	margin-left: 940px;
	width: 50px;
	height: 44px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#home:hover{
	background-image: url('../img/home_plainhover.png');
	display: block;
	color:#666;
	width: 50px;
	height: 44px;
	-webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
