#container{
	width:1280px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}


#vid{
	z-index:1;
	margin: 0; 
	padding: 0;
	height:800px;
	width:270px;
}

#pic{
	background-image: url('../img/Still.jpg');
	z-index:1;
	margin: -804px 0 0 270px; 
	padding: 0;
	height:800px;
	width:1010px;
}

#name{
	z-index: 3000;
	display: block;
	background-image: url('../img/name_1.jpg');
	width: 384px;
	height: 104px;
	margin-left: 300px;
	margin-top: -590px;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	transition: all 1s ease-out;
	
}


#name:hover{
	z-index: 3000;
	display: block;
	background-image: url('../img/name_2.jpg');
	width: 384px;
	height: 104px;
	}
	
#name:active{
	z-index: 3000;
	display: block;
	background-image: url('../img/name_2.jpg');
	width: 384px;
	height: 104px;
	}